{% extends "base.html" %}
{% block description %}Title: {{ article.title }}; Date: {{ article.date|strftime('%Y-%m-%d') }}; Author: {{ article.author }}; Courseid: {{ article.courseid }}; Metainfo: {{ article.metainfo }}{% endblock %}
{% block title %}{{ article.title }} — {{ SITENAME }}{% endblock %}
{% block content %}
<div class="article" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="article-header">
        {% if article.logo %}
        <img src="{{ SITEURL }}/images/{{ article.logo }}" class="article-logo pull-right hidden-xs">
        {% endif %}
        <h1 itemprop="name headline">{{ article.title }}</h1>
        {% if "syllabus" in article.tags %}
        <span>{{ article.metainfo }}</span>
        {% else %}
		<time datetime="{{ article.date.isoformat() }}" itemprop="datePublished">{{ article.locale_date }}</time>
        {% endif %}
	</div>
    {% if article.toc=="True" %}
    <div class="article-toc"><b>Contents</b><p></p></div>
    {% endif %}
    <div itemprop="articleBody" class="article-body">
        {{ article.content }}

        {% if "syllabus" in article.tags and article.schedule=="True" %}
        <h2 id="schedule">Schedule</h2>
        <div id="schedule-table" class="table-responsive"></div>
        {% endif %}

        {% if article.forum %}
        {% include 'forum.html' %}
        {% endif %}
        {% if article.category %}
    </div>
    <div class="footnote">
        <p>
            Author:
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <a href="{{ article.authorurl or AUTHORURL }}"><span itemprop="name">{{ article.author }}</span></a>
            </span>
        </p>
        <p>
            Category:
            <span itemprop="articleSection">
                <a href="{{ SITEURL }}/{{ article.category.url }}" rel="category">{{ article.category }}</a>
            </span>
        </p>
        {% endif %}
        {% if article.tags %}
        <p>
            Tags:
            {% for tag in article.tags %}
            <span itemprop="keywords">
                <a href="{{ SITEURL }}/{{ tag.url }}" rel="tag">{{ tag }}</a>
            </span>
            {% endfor %}
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
{% if "syllabus" in article.tags %}
<script type="text/javascript" src="{{ SITEURL }}/theme/js/jquery.csvToTable.js"></script>
<script type="text/javascript">
$(function() {
    $('#schedule-table').CSVToTable('schedule.csv',
        { tableClass: 'table table-hover table-bordered' });
});
</script>
{% endif %}
{% if article.toc=="True" %}
<script>
    String.prototype.repeat = function(num) { return new Array(num + 1).join(this); }

    var concat = '';
    var headers = $('.article-body :header');
    for (var i=0; i<headers.length; i++) {
        depth = parseInt(headers[i].tagName.substr(-1));
        if (depth < 4) {
            concat += '&nbsp;&nbsp;&nbsp;&nbsp;'.repeat(parseInt(depth)-2) + '- ' + headers[i].textContent + '<br>';
        }
    }
    $(".article-toc p").append(concat);
</script>
{% endif %}
{% endblock %}
