{% extends "base.html" %}
{% block description %}Title: {{ article.title }}; Date: {{ article.date|strftime('%Y-%m-%d') }}; Author: {{ article.author }}; Courseid: {{ article.courseid }}; Metainfo: {{ article.metainfo }}{% endblock %}
{% block title %}{{ article.title }} — {{ SITENAME }}{% endblock %}
{% block content %}
<div class="article" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="article-header">
        {% if article.logo %}
        <img src="{{ SITEURL }}/images/{{ article.logo }}" class="article-logo pull-right hidden-xs">
        {% endif %}
        <h1 itemprop="name headline">{{ article.title }}</h1>
        {% if "syllabus" in article.tags %}
        <span>{{ article.metainfo }}</span>
        {% else %}
		<time datetime="{{ article.date.isoformat() }}" itemprop="datePublished">{{ article.locale_date }}</time>
        {% endif %}
	</div>
    {% if article.toc=="True" %}
    <div class="article-toc"><b>Contents</b><p></p></div>
    {% endif %}
    <div itemprop="articleBody" class="article-body">
        {{ article.content }}

        {% if article.forum %}
        {% include 'forum.html' %}
        {% endif %}
        {% if article.category %}
    </div>
    <div class="footnote">
        <p>
            Author:
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <a href="{{ article.authorurl or AUTHORURL }}"><span itemprop="name">{{ article.author }}</span></a>
            </span>
        </p>
        <p>
            Category:
            <span itemprop="articleSection">
                <a href="{{ SITEURL }}/{{ article.category.url }}" rel="category">{{ article.category }}</a>
            </span>
        </p>
        {% endif %}
        {% if article.tags %}
        <p>
            Tags:
            {% for tag in article.tags %}
            <span itemprop="keywords">
                <a href="{{ SITEURL }}/{{ tag.url }}" rel="tag">{{ tag }}</a>
            </span>
            {% endfor %}
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
{% if article.toc=="True" %}
<script>
    function hyphenate(str) {
        return str.toLowerCase().replace(/[?!:"()%]/gi, '').replace(/\s/g, '-');
    }

    String.prototype.repeat = function(num) { return new Array(num + 1).join(this); }

    // create toc
    var t = '';
    var concat = '';
    var headers = $('.article-body :header');
    headers.each(function() {
        var hyphenated = hyphenate($(this).text());
            $(this).attr('id', hyphenated);
        }
    );
    for (var i=0; i<headers.length; i++) {
        depth = parseInt(headers[i].tagName.substr(-1));
        if (depth < 4) {
            t = headers[i].textContent;
            concat += '&nbsp;&nbsp;&nbsp;&nbsp;'.repeat(parseInt(depth)-2) + '- <a href="#' + hyphenate(t) + '">' + t + '</a><br>';
        }
    }
    $(".article-toc p").append(concat);

    // scroll animation
    $(document).ready(function(){
        $('a[href^="#"]').on('click',function (e) {
            e.preventDefault();

            var target = this.hash;
            var $target = $(target);

            $('html, body').stop().animate({
                'scrollTop': $target.offset().top
            }, 300, 'swing', function () {
                window.location.hash = target;
            });
        });
    });
</script>
{% endif %}
{% if article.math=="True" %}
{% endif %}
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        displayMath: [['$$', '$$'], ["\\[", "\\]"]],
    }});
</script>
<script type="text/javascript"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% endblock %}
