
.my-list-style {
    margin-left: 0;
}

.aw-bottom {
    padding: 2em;
}

.aw-footer {
    margin-top: 2em;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
/*    height: 250px;*/
    padding-top: 2em;
    padding-bottom: 2em;
}

.aw-footer li {
    line-height: 200%;
}

.summary {
    margin-bottom: 2em;
    margin-top: 2em;
    color: black;
}

.summary pre { display: none; }

.article-body {
    margin-top: 2em;
    color: black;
}

.article-body img {
    margin: 10px;
    max-width: 100%;
}

.article-title {
    margin-bottom: 1em;
}

.article-header {
    margin-bottom: 1em;
}

/**
 * Overrides of notebook CSS for static HTML export
**/
div.entry-content {
	overflow: visible;
	padding: 8px;
}

.inner_cell {
	width: 100%;
}

.input_area {
	padding: 0.2em;
}

a.heading-anchor {
	white-space: normal;
}

.rendered_html code {
	font-size: .8em;
}

pre.ipynb {
	color: black;
	background: #f7f7f7;
	border: none;
	box-shadow: none;
	margin-bottom: 0;
	padding: 0;
	margin: 0px;
	font-size: 13px;
}

pre.result {
	background: white;
    border: none;
}

/* remove the prompt div from text cells */
.prompt {
	display: none;
}

/* remove horizontal padding from text cells, */
/* so it aligns with outer body text */
div.text_cell_render {
	padding: 0.5em 0em;
}

img.anim_icon {
	padding: 0;
	border: 0;
	vertical-align: middle;
	-webkit-box-shadow: none;
	-box-shadow: none;
}

div.collapseheader {
	width: 100%;
	background-color: #d3d3d3;
	padding: 2px;
	cursor: pointer;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


/* custom styles */
body {
    padding: 0;
}

table th {
    text-transform: capitalize;
}

.article h2 {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.article-logo {
    background-color: #ccc;
    max-width: 400px;
    padding: 10px;
}

.article-toc {
    background-color: whitesmoke;
    padding: 10px 30px;
}

.caption {
    color: gray;
    margin-bottom: 30px;
    text-align: center;
}

.center {
    text-align: center;
}

.data-link {
    background-color: whitesmoke;
}

.due-date {
    background-color: linen;
}

.footnote {
    background-color: whitesmoke;
    margin-top: 50px;
    padding: 10px 30px;
}

.MathJax_Display {
    background-color: whitesmoke;
    padding: 10px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-top-30 {
    margin-top: 30px;
}

.nav-tabs > li.active > a:hover {
    cursor: pointer;
}

.page-header {
    border-bottom: none;
}

.social-links div {
    margin: 3px;
}
